

.header{
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem;
}

/* MEDIA QUERIES */
@media (min-width:600px) {
  .header{
    justify-content: center;
    margin: 1rem;
  }
}
