
.search-result{
  width: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 5px;
}

.pointer{
  cursor: pointer;
}

p{
  font-size: 12px;
}
