<div #map class="mapa-container"></div>

<section class="zoom-board">
  <div class="board parameters-card">
    <div class="col-12">
      <label class="form-label label">
        Zoom: {{zoomLvl | number:'2.1'}}
        <br>
       Lng - Lat:  {{center}}
    </label>
      <input type="range"
             class="form-range"
             [value]="zoomLvl"
             min="0"
             max="18"
             (input)="zoomChanged(zoomInput.value)"
             #zoomInput>
    </div>

    <div class="col-12">
      <button class="btn btn-primary zoom-btn"
              (click)="zoomOut()">-</button>
      <button class="btn btn-primary float-end zoom-btn"
              (click)="zoomIn()">+</button>
    </div>


  </div>
</section>
