
<div #map class="mapa-container"></div>
<ul class="list-group markers-list">
  <li class="list-group-item list-group-item-info add-marker-btn"
      (click)="newMarker()">
    +
  </li>
  <li class="list-group-item list-group-item-info"
      *ngFor="let marcador of markers; let i= index"
      [ngStyle]="{
        'background-color': marcador.color
      }"
      (click)="irMarcador(marcador.marker)">
        M{{i+1}}
    <i class="fa-solid fa-xmark close-icon" (click)="deleteMarker(i)"></i>
  </li>
</ul>

